/* Seitenweise Angaben */
html {
  font-family: Georgia, 'Times New Roman', serif; /* Schriftart */
  color: #393943; /* Farbe der Schriftart */
  background-color: white; /* Farbe des Hintergrunds */
}

body {
  color: white; /* Farbe der Schriftart */
  background-color: black; /* Farbe des Hintergrunds */
  max-width: 1200px; /* Breite maximal */
  margin: 0 auto; /* Rand oben/unten 0, rechts/links automatisch */
}
