/* Seitenweise Angaben */
html {
  font-family: Georgia, 'Times New Roman', serif; /* Schriftart */
  color: white; /* Farbe der Schriftart */
  background-color: #393943; /* Farbe des Hintergrunds */
}

body {
  color: white; /* Farbe der Schriftart */
  background-color: #1C1B22; /* Farbe des Hintergrunds */
  max-width: 1200px; /* Breite maximal */
  min-height: 100vh; /* Höhe */
  margin: 0 auto; /* Rand oben/unten 0, rechts/links automatisch */
  padding: .5em; /* Polsterung */
}

/* Überschrift */
h1 {
  margin-top: 0;
}

/* Links */
a         { background-color: black; color: lightblue; text-decoration: none; }
a:focus   { background-color: black; color: lightgray; }
a:hover   { background-color: dimgray; color: lightgray; text-decoration: underline; }
a:active  { background-color: black; color: lightgray; }

/* Fußbereich */
footer {
  font-family: monospace;
  font-size: .9em;
  letter-spacing: 0.1em;
  text-align: center;
}
