/* Seitenweise Angaben */
html {
  font-family: Georgia, 'Times New Roman', serif; /* Schriftart */
  color: white; /* Farbe der Schriftart */
  background-color: #393943; /* Farbe des Hintergrunds */
}

body {
  color: white; /* Farbe der Schriftart */
  background-color: #1C1B22; /* Farbe des Hintergrunds */
  max-width: 1200px; /* Breite maximal */
  min-height: 100vh;
  margin: 0 auto; /* Rand oben/unten 0, rechts/links automatisch */
}

h1 {
  margin-top: 0;
}
